/custom-rhino-js-5.1.0.jar
/jackson-annotations-2.6.1.jar
/jackson-core-2.6.1.jar
/jackson-databind-2.6.1.jar
/jackson-dataformat-smile-2.6.1.jar
/joda-time-2.9.jar
/logback-classic-1.0.13.jar
/logback-core-1.0.13.jar
/slf4j-api-1.7.12.jar
/thingworx-communications-client-7.2.1-b71.jar
/thingworx-communications-server-7.2.1-b71.jar
/thingworx-ext-sdk-7.2.1-b71.jar
/thingworx-javadocs-7.2.1-b71.jar
